/* Column Widths */
.mat-column-type {
  width: 20vw;
}

.mat-column-make {
  width: 20vw;
}

.mat-column-model {
  width: 20vw;
}

.mat-column-actions {
  width: 16vw;
}

/* Column Widths */
.mat-column-makeC {
  width: 10vw;
}
.mat-column-modelC {
  width: 10vw;
}
.mat-column-licensePlate {
  width: 15vw;
}
.mat-column-firstName {
  width: 10vw;
}
.mat-column-lastName {
  width: 10vw;
}
.mat-column-driverLicense {
  width: 15vw;
}
.mat-column-startDate {
  width: 10vw;
}
.mat-column-dueDate {
  width: 10vw;
}
.mat-column-actionsC {
  width: 10vw;
}

table {
  width: 60%;
}

.mat-header-cell {
  padding-top: 16px;
}

.mat-cell {
  padding-top: 16px;
}
