/* Column Widths */
.mat-column-type {
  width: 20vw;
}

.mat-column-make {
  width: 20vw;
}

.mat-column-model {
  width: 20vw;
}

.mat-column-actions {
  width: 16vw;
}

table {
  width: 60%;
}

.mat-header-cell {
  padding-top: 16px;
}

.mat-cell {
  padding-top: 16px;
}
