<div class="table-container">
  <h1>Vehicle Catalog</h1>

  <div class="random-order">
    <button mat-raised-button color="primary" (click)="listVehiclesInRandomOrder()">
      <span>Random Order</span>
    </button>
  </div>

  <div style="margin-bottom: 24px">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Search Filters
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="filters">
          <div>
            <mat-form-field class="search-filter-spacing">
              <mat-label>Type</mat-label>
              <mat-select [formControl]="type" multiple>
                <mat-option *ngFor="let type of getTypeList()" [value]="type">{{type}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="search-filter-spacing">
              <mat-label>Make</mat-label>
              <mat-select [formControl]="make" multiple>
                <mat-option *ngFor="let make of getMakeList()" [value]="make">{{make}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="search-filter-spacing">
              <mat-label>Model</mat-label>
              <mat-select [formControl]="model" multiple>
                <mat-option *ngFor="let model of getModelList()" [value]="model">{{model}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="search-filter-spacing">
              <mat-label>Color</mat-label>
              <mat-select [formControl]="color" multiple>
                <mat-option *ngFor="let color of getColorList()" [value]="color">{{color}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="search-filter-spacing">
              <input matInput [matDatepicker]="dp" placeholder="Min Year" [formControl]="minYear">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp startView="multi-year" (yearSelected)="setMinYear($event, dp)"
                panelClass="example-month-picker">
              </mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="search-filter-spacing">
              <input matInput [matDatepicker]="dpmax" placeholder="Max Year" [formControl]="maxYear">
              <mat-datepicker-toggle matSuffix [for]="dpmax"></mat-datepicker-toggle>
              <mat-datepicker #dpmax startView="multi-year" (yearSelected)="setMaxYear($event, dpmax)"
                panelClass="example-month-picker">
              </mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="searchWithFilters()">
          <span>Search</span>
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <div class="centered" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!isLoading && this.allVehicles">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.type}} </td>
      </ng-container>

      <ng-container matColumnDef="make">
        <th mat-header-cell *matHeaderCellDef>Make</th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.make}} </td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Model</th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.model}} </td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Year</th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.year}} </td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef>Color</th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.color}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let vehicle; columns: displayedColumns;"></tr>
    </mat-table>
  </div>

</div>