.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

table{
  width: 100%;
}

.mat-header-cell {
  padding-top: 16px;
}

.mat-cell {
  padding-top: 16px;
}

/* Column Widths */
.mat-column-type {
  width: 20vw;
}
.mat-column-make {
  width: 20vw;
}
.mat-column-model {
  width: 20vw;
}
.mat-column-year {
  width: 20vw;
}
.mat-column-color {
  width: 20vw;
}
