.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 230px;
  box-shadow: 1px 0 6px rgba(0, 0, 0, .24);
}

.list-button {
  min-width: 140px;
}

.outlet-container {
  padding: 24px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
