<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="table-container">
    <h1>Transaction</h1>

    <div style="margin-bottom: 24px">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Search Filters
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="filters">

            <mat-form-field class="filter-form-field">
              <input type="text"
                     class="filter-input"
                     placeholder="Client Driver License"
                     aria-label="Number"
                     matInput [formControl]="clientFilter"
                     [matAutocomplete]="client">
              <mat-autocomplete #client="matAutocomplete">
                <mat-option *ngFor="let option of clientLicensesFilteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="filter-form-field">
              <input type="text"
                     class="filter-input"
                     placeholder="Vehicle License Plate"
                     aria-label="Number"
                     matInput [formControl]="vehicleFilter"
                     [matAutocomplete]="vehicle">
              <mat-autocomplete #vehicle="matAutocomplete">
                <mat-option *ngFor="let option of vehiclePlatesFilteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="filter-form-field">
              <input matInput [matDatepicker]="picker" placeholder="Due Date" [(ngModel)]="dueDateFilter">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" (click)="applyFilters()">
            <span>Filter</span>
          </button>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="licensePlate">
          <th mat-header-cell *matHeaderCellDef>License Plate</th>
          <td mat-cell *matCellDef="let transactionDB"> {{transactionDB.vehicle.license}} </td>
        </ng-container>

        <ng-container matColumnDef="driverLicense">
          <th mat-header-cell *matHeaderCellDef>Driver License</th>
          <td mat-cell *matCellDef="let transactionDB"> {{transactionDB.client.driverLicense}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let transactionDB"> {{getTransactionType(transactionDB)}} </td>
        </ng-container>

        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef>Timestamp</th>
          <td mat-cell *matCellDef="let transactionDB"> {{transactionDB.timestamp}} </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>StartDate</th>
          <td mat-cell *matCellDef="let transactionDB"> {{transactionDB.startDate}} </td>
        </ng-container>

        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef>DueDate</th>
          <td mat-cell *matCellDef="let transactionDB"> {{transactionDB.dueDate}} </td>
        </ng-container>

        <ng-container matColumnDef="returnDate">
          <th mat-header-cell *matHeaderCellDef>ReturnDate</th>
          <td mat-cell *matCellDef="let transactionDB"> {{transactionDB.returnDate}} </td>
        </ng-container>

        <ng-container matColumnDef="cancelDate">
          <th mat-header-cell *matHeaderCellDef>CancelDate</th>
          <td mat-cell *matCellDef="let transactionDB"> {{transactionDB.cancelDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let transactionDB; columns: displayedColumns;"></tr>
      </mat-table>
    </div>

  </div>
</div>
