<!-- https://material.angular.io/components/stepper/overview -->
<h1>Vehicle Rental</h1>
<mat-vertical-stepper [linear]="true" #stepper (selectionChange)="selectionChange($event)">

  <mat-step [stepControl]="clientFormGroup">

    <form [formGroup]="clientFormGroup">
      <ng-template matStepLabel>Choose client - A-1111-111111-11</ng-template>
      <mat-form-field style="margin-right: 1vw">
        <input matInput placeholder="Driver's License" formControlName="driverLicense">
        <mat-error *ngIf="driverLicense.errors && driverLicense.errors['required']">
          This field is required.
        </mat-error>
        <mat-error *ngIf="driverLicense.errors && clientFormGroup.controls.driverLicense.errors.invalidMsg">
          The Driver License format is A-1234-123456-12.
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="clientFormGroup.invalid"
        (click)="searchForClient()">
        <span>Search</span>
      </button>

      <div *ngIf="isClientFound">
        <h3>Client Found! : {{client.firstName}} {{client.lastName}} - Driver License #{{client.driverLicense}}</h3>
      </div>

      <div *ngIf="isClientUnavailable">
        <mat-spinner></mat-spinner>
        <h2> Resource unavailable. Please wait or try again later ...</h2>
        <div mat-dialog-actions style="margin-top: 12px;">
          <div style="margin-left: auto;">
            <button color="primary" mat-raised-button (click)="onCancelWaitClientClicked()">Close</button>
          </div>
        </div>
      </div>
      <br/>
      <div *ngIf="isClientFound">
        <button mat-flat-button color="accent" (click)="clearClient()" style="margin-right: 1vw">Back</button>
        <button mat-flat-button color="accent" matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>

  <mat-step [stepControl]="dueDateFormGroup">
    <form [formGroup]="dueDateFormGroup">
      <ng-template matStepLabel>Choose due date</ng-template>
      <!-- TODO add date validation? -->
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Due date" [formControl]="dueDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-flat-button color="accent" matStepperPrevious style="margin-right: 1vw">Back</button>
        <button mat-flat-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Select a vehicle</ng-template>

    <div *ngIf="!isVehicleFound">
      <p>Searching for available vehicles...</p>
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="isVehicleFound && !isVehicleSelected" style="margin-top: 1vh">

      <h3>Choose an available vehicle</h3>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let vehicle"> {{vehicle.type}} </td>
        </ng-container>

        <ng-container matColumnDef="make">
          <th mat-header-cell *matHeaderCellDef>Make</th>
          <td mat-cell *matCellDef="let vehicle"> {{vehicle.make}} </td>
        </ng-container>

        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef>Model</th>
          <td mat-cell *matCellDef="let vehicle"> {{vehicle.model}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let vehicle">
            <button mat-icon-button (click)="viewVehicleDetails(vehicle)">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-stroked-button color="primary" (click)="rentVehicle(vehicle)">Select</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let vehicle; columns: displayedColumns;"></tr>
      </mat-table>
    </div>

    <div *ngIf="isVehicleSelected">
      Rental successfully registered.
    </div>

    <div style="margin-top: 1vh">
      <button mat-flat-button color="accent" matStepperPrevious style="margin-right: 1vw">Back</button>
      <button mat-flat-button color="accent" (click)="reset(stepper)">New Rental</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
